################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codebase/xpPortal/xpPortal/bin
/Codebase_Backup1709
/Codebase/xpPortal/xpPortal/HPTools.DataAccess/HPTools.DataAccess/obj/Debug/XP.DataAccess.csproj.FileListAbsolute.txt
/Codebase/xpPortal/xpPortal/HPTools.DataAccess/HPTools.DataAccess/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Codebase/xpPortal/xpPortal/HPTools.DataAccess/HPTools.DataAccess/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Codebase/xpPortal/xpPortal/HPTools.DataAccess/HPTools.DataAccess/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Codebase_Backup_17098_
/Codebase/xpPortal/xpPortal/obj/Debug/xpPortal.csproj.FileListAbsolute.txt
/Codebase_backup_1809
