@using xpPortal.Models
@model UserDetails
@{
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <section class="basic-info-wrapper">
            <div class="basic-info" style="padding-top: 6rem;">
                <div id="wizard">
                    <h2>Add New Joinee</h2>
                    <section>
                        <form id="AddBasic" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">First Name:</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" placeholder="First Name" name="FirstName" value="@Model.FirstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Middle Name:</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" placeholder="Middle Name" name="MiddleName" value="@Model.MiddleName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Last Name:</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" placeholder="Last Name" name="LastName" value="@Model.LastName">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Email Address:</label>
                                <div class="col-lg-4">
                                    <input type="text" style="position: relative;float: left;" class="form-control" placeholder="Email Address" id="emailName" name="Email" value="@Model.Email">
                                    <button class="btn btn-lg btn-login btn-block" style="position: relative;float: left;width: 30%;
                                        padding-bottom: 23px;height: 36px;padding-top: 6px;margin-top: 15px;background-color: lawngreen;"
                                            id="submitFullButton" type="submit">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>


<script language="javascript">
    $(document).ready(function () {
        $("#AddBasic").on('submit', function (e) {
            debugger;
            e.preventDefault();
            var $this = $(this);
            var dataToPost = $(this).serialize();

            $.post("SaveNewJoinee", dataToPost)
                .done(function (response, status, jqxhr) {
                    alert("New Joinee Successfully Added.");
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        })

        $("#submitFull").on('submit', function (e) {
            debugger;
            e.preventDefault();
            var $this = $(this);
            var email = document.getElementById("emailName").value;
            var dataToPost = $(this).serialize();
            dataToPost = dataToPost + "&Email=" + email;
            $.post("Joinee/SaveDetailInfo", dataToPost)
                .done(function (response, status, jqxhr) {
                    alert("Your Details are Successfully Updated.");
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        })
    });
</script>