@using xpPortal.Models
@model FeedbackModel
@{
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
    ViewBag.Title = "FeedbackList";
}




<h2 style="background-color: #1fb5ad;color: #fff;border-radius: 18px;padding-left: 18px;height: 46px;padding-top: 4px;">
    Feedback-You Can Improve
</h2>
<form id="submitFull" class="form-horizontal">
    <div>
        <table class="table table-striped table-hover table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Feedback
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (System.Data.DataRow row in Model.FeedbackList)
                {

                    <tr>
                        @foreach (var cell in row.ItemArray)
                        {
                            <td>@cell.ToString()</td>
                        }
                    </tr>

                }
            </tbody>
        </table>

    </div>
</form>
<script language="javascript">
        //$('#example tbody').on('click', 'tr', function () {
        //    debugger;
        //    var email = $(this).find("td").eq(4).text();
        //    var dataToPost = "&EmailId=" + email;
        //    $.post("GetDetailInfo", dataToPost)
        //        .done(function (response, status, jqxhr) {
        //            window.location.href = '/Recruiter/GetDetailInfo'
        //        })
        //        .fail(function (jqxhr, status, error) {
        //            // this is the ""error"" callback
        //        })
        //});

</script>
