@using xpPortal.Models
@model FeedbackModel
@{
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
    ViewBag.Title = "FeedbackList";
}


<head>
    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<h2 style="background-color: #1fb5ad;color: #fff;border-radius: 18px;padding-left: 18px;height: 46px;padding-top: 4px;">
    Feedback-You Can Improve
</h2>
<form id="submitFull" class="form-horizontal">
    <section class="panel">
        <div class="panel-body profile-nav">
            <table class="table table-hover tm-membr" id="example">
                <thead>
                    <tr>
                        <th width="30"></th>
                        <th style="text-align:center">
                            Email
                        </th>
                        <th style="text-align:center">
                            Feedback
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (System.Data.DataRow row in Model.FeedbackList)
                    {

                        <tr>
                            <td >
                                <div class="tm-avatar">

                                </div>
                            </td>
                            @foreach (var cell in row.ItemArray)
                            {
                                <td style="text-align:center">
                                    <span class="tm">@cell.ToString()</span>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>

        </div>
</section>
</form>
<script language="javascript">
    //$('#example tbody').on('click', 'tr', function () {
    //    debugger;
    //    var email = $(this).find("td").eq(4).text();
    //    var dataToPost = "&EmailId=" + email;
    //    $.post("GetDetailInfo", dataToPost)
    //        .done(function (response, status, jqxhr) {
    //            window.location.href = '/Recruiter/GetDetailInfo'
    //        })
    //        .fail(function (jqxhr, status, error) {
    //            // this is the ""error"" callback
    //        })
    //});

</script>
