@using xpPortal.Models
@model NewJoinee
@{
    ViewBag.Title = "ManageJoinees";
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Joinee List
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <table class="table table-hover tm-membr" id="manageJoinee">
                    <thead>
                        <tr>
                            <th width="30"></th>
                            <th>
                                FirstName
                            </th>
                            <th>
                                Middle Name
                            </th>
                            <th>
                                LastName
                            </th>
                            <th>
                                Email Name
                            </th>
                            <th>
                                Contact Number
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.NewJoineeList)
                        {

                        <tr>
                            <td>
                                <div class="tm-avatar">
                                    <img src="images/lock_thumb.jpg" alt="" />
                                </div>
                            </td>
                            @foreach (var cell in row.ItemArray)
                                {
                                <td>
                                    <span class="tm">@cell.ToString()</span>
                                </td>
                                }
                          </tr>
                        }
                    </tbody>
                </table>
            </div>

        </section><!--panel-->


    </div><!--container-fluid-->
</div>

<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Add Joinee
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">

                <form id="AddBasic" class="form-horizontal">
                    <div class="form-group">

                        <label class="col-lg-2 control-label">Full Name</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Full Name" name="FullName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-4">
                            <input type="text" style="position: relative;float: left;" class="form-control" placeholder="Email Address" id="emailName" name="Email" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Assign Buddy</label>
                        <div class="col-lg-4">
                            <select class="form-control m-bot15" id="BuddyName" name="Buddy">
                                <option selected>Select Buddy</option>
                                <option value="mike">Sagar Pawar</option>
                                <option value="michael">ManiKandan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Contact Person</label>
                        <div class="col-lg-4">
                            <select class="form-control m-bot15" id="contactName" name="contactName">
                                <option selected>Select contact person</option>
                                <option value="mike">Sagar Pawar</option>
                                <option value="michael">ManiKandan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Date of Joining:</label>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(model => model.SelectedDay, (IEnumerable<SelectListItem>)ViewBag.Days, "Day")
                            @Html.DropDownListFor(model => model.SelectedMonth, (IEnumerable<SelectListItem>)ViewBag.Months, "Month")
                            @Html.DropDownListFor(model => model.SelectedYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Year")
                        </div>
                    </div>
                    <button class="btn btn-lg btn-login btn-success btn-block" id="submitPartial" style="position: relative;float: left;width: 14%;
                                            padding-bottom: 23px;height: 34px;padding-top: 5px;margin-left: 415px;" type="submit">
                        Save
                    </button>

                </form>
            </div>
        </section>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $('#manageJoinee tbody').on('click', 'tr', function () {
            debugger;
            var email = $(this).find("td").eq(4).text();
            var dataToPost = "&EmailId=" + email;
            $.post("GetDetailInfo", dataToPost)
                .done(function (response, status, jqxhr) {
                    var value = $(response).find('#emailName').val();
                    window.location.href = '/Recruiter/GetDetailInfo?EmailId=' + value;
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        });

        $("#AddBasic").on('submit', function (e) {
            debugger;
            e.preventDefault();
            var $this = $(this);
            var dataToPost = $(this).serialize();

            $.post("/Recruiter/SaveNewJoinee", dataToPost)
                .done(function (response, status, jqxhr) {
                    alert("New Joinee Successfully Added.");

                    window.location.href = '/Recruiter/ManageJoinees'
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        })
    });

</script>
