@model IEnumerable<xpPortal.Models.Query>

@{
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quesries</title>
</head>
<body>
    <section class="panel">
        <header class="panel-heading">
            Queries
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>

            </span>
        </header>

    </section>
    <div class="panel-body">
        <div class="row" id="QueryContainer">
            <div class="col-sm-12">
                <div class="timeline">
                    <article class="timeline-item alt">
                        <div class="text-right">
                            <div class="time-show first">
                                <a style="cursor:pointer" class="btn btn-success" id="btnReply" href="#Reply" data-toggle="modal">Reply</a>
                            </div>
                        </div>
                    </article>
                    @foreach (var item in Model)
                    {
                        <article class="timeline-item alt">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="panel-body" style="cursor:pointer" id="QueryDiv">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon yellow">
                                            <i class="fa fa-comment-o"></i>
                                        </span>
                                        <span class="timeline-date">12:25 am</span>
                                        <h1 class="yellow">1 hour ago</h1>
                                        <h1 class="green">
                                            @Html.DisplayFor(modelItem => item.Subject)
                                        </h1>
                                        <p>@Html.DisplayFor(modelItem => item.QueryDetail)</p>
                                    </div>
                                </div>
                            </div>
                        </article>

                    }

                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="Reply" class="modal fade" style="cursor:pointer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">Reply</h4>
                </div>
                <div class="modal-body">

                    <textarea rows="5" class="form-control large" id="txtReply" placeholder="Reply here"></textarea>        
                    <button data-dismiss="modal" type="submit" class="btn btn-success" id="btnReplySubmit">Submit</button>
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script>

    var queryReplyElement = $('<article class="timeline-item">' +
       '<div class="timeline-desk">' +
           '<div class="panel">' +
               '<div class="panel-body">' +
                   '<span class="arrow"></span>' +
                   '<span class="timeline-icon light-green">' +
                       '<i class="fa fa-comments"></i>' +
                   '</span>' +
                   '<span class="timeline-date">12:25 am</span>' +
                   '<h1 class="yellow">1 hour ago</h1>' +
                   '<p>Thanks. </p>' +
               '</div>' +
           '</div>' +
       '</div>' +
   '</article>');

    $('#btnReplySubmit').click(function () {

        var content = $('#txtReply').val();
        
        var ele = $('.timeline').find('article')[0];
        var elementClone = $(queryReplyElement).clone();
        $(elementClone).attr('id', 909);
        $(elementClone).find('p').html(content);
        //$(elementClone).find('h1').html(new Date().toString().substring(4, 24));
        $(elementClone).find('h1').html(new Date().toString().substring(16, 21));
        
        $(elementClone).insertAfter($(ele));
        $('#QueryContainer').show();

        $('#txtReply').val('');

        //var url = "../Recruiter/SubmitQueryReply";

        //$.ajax({
        //    url: url,
        //    type: "POST",
        //    data: JSON.stringify({ subject: $('#txtSubject').val(), queryDetail: $('#txtQueryDetail').val() }),
        //    datatype: "JSON",
        //    contentType: 'application/json',
        //    traditional: true,
        //    success: function (data) {
        //        debugger
        //        if (data > 0) {
        //            var content = $('#txtQueryDetail').val();

        //            var ele = $('.timeline').find('article')[0];
        //            var elementClone = $(userQueryElement).clone();
        //            $(elementClone).attr('id', 999);
        //            $(elementClone).find('p').html(content);
        //            $(elementClone).find('h1').html('Just now');
        //            $(elementClone).insertAfter($(ele));
        //            $('#QueryContainer').show();

        //            $('#txtSubject').val('');
        //            $('#txtQueryDetail').val('');
        //        }
        //    }
        //});
    });
</script>