@using xpPortal.Models
@model ReferAndEarnModel
@{
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
    ViewBag.Title = "ReferAndEarn";
}
<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Referrals
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <table class="table table-hover tm-membr" id="example">
                    <thead>
                        <tr>
                            <th >S.No</th>
                            <th style="padding-left:2%">
                                Name
                            </th>
                            <th style="padding-left:2%">
                                Email
                            </th>
                            <th style="padding-left:2%">
                                Phone No
                            </th>
                            <th style="padding-left:2%">
                                Skills
                            </th>
                            <th style="padding-left:2%">
                                Referred By
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                                    int i = 0;
                                    foreach (System.Data.DataRow row in Model.ReferralList)
                                    {
                                i++;

                                <tr>
                                    <td>
                                        <div class="tm-avatar">
                                            @i
                                        </div>
                                    </td>
                                    @foreach (var cell in row.ItemArray)
                                {
                                        <td>
                                            <span class="tm">@cell.ToString()</span>
                                        </td>
                                    }
                                </tr>

                            }
                        }
                    </tbody>
                </table>

            </div>

        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                New Jobs
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <table class="table table-hover tm-membr" id="example">
                    <thead>
                        <tr>
                            <th style="padding-left:2%"></th>
                            <th style="padding-left:2%">
                                Job Id
                            </th>
                            <th style="padding-left:2%">
                                Job Title
                            </th>
                            <th style="padding-left:2%">
                                Experience Required
                            </th>
                            <th style="padding-left:2%">
                                Skills Required
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (System.Data.DataRow row in Model.JobList)
            {

                        <tr>
                            <td>
                                <div class="tm-avatar">

                                </div>
                            </td>
                            @foreach (var cell in row.ItemArray)
                                {
                                <td >
                                    <span class="tm">@cell.ToString()</span>
                                </td>
                                }
                        </tr>

                        }
                    </tbody>
                </table>

            </div>

        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Add Job
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <form id="submitBasic" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Job Title:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Job Title" name="JobTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Exp. Required:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Experience" name="ExpRequired" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Skills Required:</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="SkillsRequired" name="Skills" />

                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-lg btn-login btn-success btn-block" id="submitPartial" style="position: relative;float: left;width: 14%;
                                            padding-bottom: 23px;height: 34px;padding-top: 5px;margin-left: 427px;" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
                </div>
</section>


    </div>
</div>
 
<script language="javascript">
    $(document).ready(function () {
        //$("#submitBasic").on('submit', function (e) {
        //    debugger;
        //    e.preventDefault();
        //    var $this = $(this);
        //    var dataToPost = $(this).serialize();

        //    $.post("Joinee/SaveBasicInfo", dataToPost)
        //        .done(function (response, status, jqxhr) {
        //            alert("Your Details are Successfully Updated.");
        //        })
        //        .fail(function (jqxhr, status, error) {
        //            // this is the ""error"" callback
        //        })
        //})

        $("#submitBasic").on('submit', function (e) {
            debugger;
            e.preventDefault();
            var $this = $(this);

            var dataToPost = $(this).serialize();
            $.post("SaveNewJob", dataToPost)
                .done(function (response, status, jqxhr) {
                    alert("Data Uploaded Successfully.");
                    window.location.href = '/Recruiter/JobListForReferAndEarn';
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        })
    });
</script>



