
@{
    ViewBag.Title = "Buddy";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Buddy
            </header>
            <div class="panel-body">
                <p>
                    No need to worry, we've got you covered. Your Buddy will help you out.
                </p>
                <div class="user-heading alt">
                    <a href="#">
                        <img alt="" src="~/images/lock_thumb.jpg">
                    </a>
                    <h1>Jim Doe</h1>
                    <p>Onboarding Team</p>
                </div>
                <div class="weather-category twt-category">
                    <ul>
                        <li class="active">
                            <h5 style="text-transform: none;">9800 098 000</h5>
                            Phone
                        </li>
                        <li>
                            <h5 style="text-transform: none;">jim@abc.com</h5>
                            Email
                        </li>
                        <li>
                            <h5 style="text-transform: none;">jimDoe</h5>
                            Skype
                        </li>
                    </ul>


                </div>
            </div>
        </section>

        <!--notification end-->
    </div>
</div>