@{
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
    ViewBag.Title = "InterViewFeedback";
}
<head>
        <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Feedback-You Can Improve
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <form id="submitBasic" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea class="form-control" cols="600" rows="20" id="textAreaFeedback" name="feedback" placeholder="Your Feedback will serve us so that we can serve you better.."></textarea>
                        </div>

                    </div>
                    <button class="btn btn-lg btn-login btn-success btn-block" id="submitPartial" style="position: relative;float: left;width: 14%;
                                            padding-bottom: 23px;height: 34px;padding-top: 5px;margin-left: 415px;" type="submit">
                        Submit
                    </button>

                </form>
                </div>
        </section>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $("#submitBasic").on('submit', function (e) {
            e.preventDefault();
            var $this = $(this);
            var dataToPost = $(this).serialize();

            $.post("SaveInterviewFeedbackForm", dataToPost)
                .done(function (response, status, jqxhr) {
                    alert("Feedback Successfully Sent.");
                    $('#textAreaFeedback').val('');
                })
                .fail(function (jqxhr, status, error) {
                    // this is the ""error"" callback
                })
        })

        //$("#submitFull").on('submit', function (e) {
        //    debugger;
        //    e.preventDefault();
        //    var $this = $(this);
        //    var email = document.getElementById("emailName").value;
        //    var dataToPost = $(this).serialize();
        //    dataToPost = dataToPost + "&Email=" + email;
        //    $.post("Joinee/SaveDetailInfo", dataToPost)
        //        .done(function (response, status, jqxhr) {
        //            alert("Your Details are Successfully Updated.");
        //        })
        //        .fail(function (jqxhr, status, error) {
        //            // this is the ""error"" callback
        //        })
        //})
    });
</script>



