@using xpPortal.Models
@model ReferAndEarnModel
@{
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
    ViewBag.Title = "NewJoineeList";
}
<div class="row">
    <div class="col-md-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading">
                Open Opportunities
            </header>
            

            <div class="panel-body">
                <form id="submitFull" class="form-horizontal">
                    <div>
                        <table class="table table-striped table-hover " id="example">
                            <thead>
                                <tr>

                                    <th style="text-align:center">
                                        Job Id
                                    </th>
                                    <th style="text-align:center">
                                        Job Title
                                    </th>
                                    <th style="text-align:center">
                                        Experience Required
                                    </th>
                                    <th style="text-align:center">
                                        SkillsRequired
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (System.Data.DataRow row in Model.JobList)
                                {

                                    <tr style="text-align:center">
                                        @foreach (var cell in row.ItemArray)
                                        {
                                            <td>@cell.ToString()</td>
                                        }
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                We are an enterprise software services firm with a unique approach to software.
            </header>
        </section>
        <!--notification end-->
    </div>
</div>




@*<h2 style="background-color: #1fb5ad;color: #fff;border-radius: 18px;padding-left: 18px;height: 46px;padding-top: 4px;">
        Open Opportunities
    </h2>
    <form id="submitFull" class="form-horizontal">
        <div>
            <table class="table table-striped table-hover table-bordered" id="example">
                <thead>
                    <tr>

                        <th style="text-align:center">
                            Job Id
                        </th>
                        <th style="text-align:center">
                            Job Title
                        </th>
                        <th style="text-align:center">
                            Experience Required
                        </th>
                        <th style="text-align:center">
                            SkillsRequired
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (System.Data.DataRow row in Model.JobList)
                    {

                        <tr style="text-align:center">
                            @foreach (var cell in row.ItemArray)
                            {
                                <td>@cell.ToString()</td>
                            }
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </form>*@
<script language="javascript">
    $('#example tbody').on('click', 'tr', function () {
        debugger;
        var email = $(this).find("td").eq(4).text();
        var dataToPost = "&EmailId=" + email;
        $.post("GetDetailInfo", dataToPost)
            .done(function (response, status, jqxhr) {
                window.location.href = '/Recruiter/GetDetailInfo'
            })
            .fail(function (jqxhr, status, error) {
                // this is the ""error"" callback
            })
    });

</script>
