@using xpPortal.Models
@model ReferAndEarnModel
@{
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
    ViewBag.Title = "NewJoineeList";
}
@*<div class="row">
        <div class="col-md-12">
            <!--notification start-->

            <section class="panel">
                <header class="panel-heading">
                    We are an enterprise software services firm with a unique approach to software.
                </header>
            </section>
            <!--notification end-->
        </div>
    </div>*@



<head>

    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">

                Open Opportunities
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>

            <div class="panel-body">
                <form id="submitFull" class="form-horizontal">
                    <table class="table table-hover tm-membr" id="example">
                        <thead>
                            <tr>
                                <th width="30"></th>
                                <th style="text-align:center">
                                    Job Id
                                </th>
                                <th style="text-align:center">
                                    Job Title
                                </th>
                                <th style="text-align:center">
                                    Experience
                                </th>
                                <th style="text-align:center">
                                    Skills
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (System.Data.DataRow row in Model.JobList)
                            {

                                <tr>
                                    <td>
                                        <div class="tm-avatar">
                                            <img src="images/lock_thumb.jpg" alt="" />
                                        </div>
                                    </td>
                                    @foreach (var cell in row.ItemArray)
                                    {
                                        <td style="text-align:center">
                                            <span class="tm">@cell.ToString()</span>
                                        </td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>

        </section>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!--notification start-->
        <section class="panel">
            <header class="panel-heading header-class">
                Refer Detail
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body">
                <form id="AddBasic" class="form-horizontal" action="../Joinee/SaveReferAndEarn">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Candidate Name:</label>
                        <div class="col-lg-4">
                            <input type="text" id="name" class="form-control" placeholder="Candidate Name" name="CandidateName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-4">
                            <input type="text" id="email" class="form-control" placeholder="Email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Contact Number:</label>
                        <div class="col-lg-4">
                            <input type="text" id="phone" class="form-control" placeholder="Contact Number" name="ContactNumber" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Skills:</label>
                        <div class="col-lg-4">
                            <input type="text" id="skills" class="form-control" placeholder="Skills" name="Skills" />

                        </div>
                    </div>

                    <div class="form-group col-lg-4">

                    </div>
                    <button class="btn btn-lg btn-login btn-success btn-block" id="refer" style="position: relative;float: left;width: 9%;
                                            padding-bottom: 23px;height: 34px;padding-top: 5px;margin-left: 9.2%;" type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>

<script language="javascript">

    //$("#refer").on('click', function (e) {
    
    //    $.ajax({
    //        url: "../Joinee/SaveReferAndEarn",
    //        type: "POST",
    //        data: { candidateName: $('#name').val(), contactNumber: $('#phone').val(), email: $('email').val(), skills: $('skills').val() },
    //        datatype: "JSON",
    //        contentType: 'application/json',
    //        traditional: true,
    //        success: function (data) {

    //        }
    //    });
    //});
</script>
